<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Insert Trip Title</title>

  <%- include('../partials/style') %>

</head>

  <body>
    
    <div class="layout layout-nav-side">

      
      <!-- Nav Bar -->

      <%- include('../partials/navbars/nav2') %>
     
      <!-- Main Section -->

      <div class="main-container">
        <div class="container" id="show-page-header"> 
          <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-9">
              <section class="py-4 py-g-5">

                <h1>Add A New Adventure</h1>
                <form action ="/trips" method="POST">
                  Title: <input type="text" name="title" /> <br>
                  Destination: <input type="text" name="destination" /><br>
                  Image: <input type="text" name="imageLink" /><br>
                  Trip Start Date: <input type="text" name="startDate" placeholder="MM/DD/YYYY" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"/><br>
                  Trip End Date: <input type="text" name="endDate" placeholder="MM/DD/YYYY" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" /><br>      
                  Give us some details: <input type="text" name="details" /> <br>
                  <input type="submit" class="btn btn-primary" value="Add New Trip" />
                  <input type="reset" class="btn btn-secondary">
                  </form>


              </section>
            </div>
          </div> 
        </div> 
      </div>
    </div>
  </body>
</main>
</html> 