<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Insert Trip Title</title>

  <%- include('partials/style') %>

</head>
<main role ="main">
  <body class="home">

    <%- include('partials/nav') %>

    <h1>Trip Detail Page / aka show</h1>

  </body>
</main>
</html> 