<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Upcoming Trips</title>

  <%- include('../partials/style') %>

</head>

    <main role ="main">
    <body>

    <!-- Nav Bar -->
<div class="layout layout-nav-side">
        <%- include('../partials/nav2') %>

    <!-- End Nav Bar -->
    
 




</div>

    <!-- holding for itineray view -->

    <!-- <div class="content-list" data-filter-list="content-list-body">
        <div class="row content-list-head">
          <div class="col-auto">
            <h3>Notes</h3>
            <button class="btn btn-round" data-toggle="modal" data-target="#note-add-modal">
              <i class="material-icons">add</i>
            </button>
          </div>
          <form class="col-md-auto">
            <div class="input-group input-group-round">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="material-icons">filter_list</i>
                </span>
              </div>
              <input type="search" class="form-control filter-list-input" placeholder="Filter notes" aria-label="Filter notes">
            </div>
          </form>
        </div>
        <!--end of content list head-->
        <!-- <div class="content-list-body filter-list-1604115757946"><div class="card card-note">
            <div class="card-header">
              <div class="media align-items-center">
                <img alt="Peggy Brown" src="assets/img/avatar-female-2.jpg" class="avatar filter-by-alt" data-toggle="tooltip" data-title="Peggy Brown" data-filter-by="alt">
                <div class="media-body">
                  <h6 class="mb-0 H6-filter-by-text" data-filter-by="text">First meeting notes</h6>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <span data-filter-by="text" class="SPAN-filter-by-text">Just now</span>
                <div class="ml-1 dropdown card-options">
                  <button class="btn-options" type="button" id="note-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" style="">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item text-danger" href="#">Delete</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body DIV-filter-by-text" data-filter-by="text">
              <p>Here's a quick rundown of companies the client expressed interest in on our call this morning:</p>
              <ul>
                <li><a href="#">Commonwealth Bank of Australia</a> for the bright, positive color scheme</li>
                <li><a href="#">Bupa Health Insurance</a> for the adaptability of their logo around the site's layout</li>
                <li><a href="#">OPSM</a> again for the color scheme, this time for the softer pallette</li>
              </ul>

            </div>
          </div><div class="card card-note">
            <div class="card-header">
              <div class="media align-items-center">
                <img alt="David Whittaker" src="assets/img/avatar-male-4.jpg" class="avatar filter-by-alt" data-toggle="tooltip" data-title="David Whittaker" data-filter-by="alt">
                <div class="media-body">
                  <h6 class="mb-0 H6-filter-by-text" data-filter-by="text">Client preference</h6>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <span data-filter-by="text" class="SPAN-filter-by-text">Yesterday</span>
                <div class="ml-1 dropdown card-options">
                  <button class="btn-options" type="button" id="note-dropdown-button-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" style="">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item text-danger" href="#">Delete</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body DIV-filter-by-text" data-filter-by="text">
              <p>Hi all, just wanted to add that the client has requested that we lean toward a 'friendly' aesthetic. I know this seems a little vague but it does give us a starting point for the mood boards. I recommend we use larger
                corporates who target 'youthful' audiences as initial inspiration. <a href="#">@Peggy</a> will take the lead from here.</p>

            </div>
          </div><div class="card card-note">
            <div class="card-header">
              <div class="media align-items-center">
                <img alt="Ravi Singh" src="assets/img/avatar-male-3.jpg" class="avatar filter-by-alt" data-toggle="tooltip" data-title="Ravi Singh" data-filter-by="alt">
                <div class="media-body">
                  <h6 class="mb-0 H6-filter-by-text" data-filter-by="text">Matboard links</h6>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <span data-filter-by="text" class="SPAN-filter-by-text">Just now</span>
                <div class="ml-1 dropdown card-options">
                  <button class="btn-options" type="button" id="note-dropdown-button-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item text-danger" href="#">Delete</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body DIV-filter-by-text" data-filter-by="text">
              <p>Hey guys, here's the link to the Matboards: <a href="#">https://matboard.io/3928462</a>
              </p>

            </div>
          </div></div>
      </div> -->



    </body>
    </main>

</html>