<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Upcoming Trips</title>

  <%- include('../partials/style') %>

</head>

    <main role ="main">
    <body class="home">

    <!-- Nav Bar -->
        <nav>
        <%- include('../partials/nav') %>
        </nav>
    <!-- End Nav Bar -->
    
    <div class="parent-container d-flex" id="profile_parent_container">
    
    <!-- Trips Side Navigation -->
    
            <%- include('../partials/trips') %>
        </div>
    </div>

    <!-- End Trips Side Navigation -->

    </body>
    </main>

</html>