<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Upcoming Trips</title>

  <%- include('../partials/style') %>

</head>

    <main role ="main">
    <body>

    <!-- Nav Bar -->
<div class="layout layout-nav-side">
        <%- include('../partials/navbars/nav2') %>

    <!-- End Nav Bar -->
    
 




</div>





    </body>
    </main>

</html>