<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Upcoming Trips</title>

  <%- include('../partials/style') %>

</head>
<main role ="main">
  <body class="home">

    <!-- <%- include('../partials/nav') %> -->

    <!-- trip index view -->

 <h1>Upcoming Trips View</h1>

  </body>
</main>
</html>