<header>

    <nav class="navbar navbar-expand-md fixed-top">
      <a class="navbar-brand" href="/"><img src='https://i.imgur.com/hgxBdrF.png' width="120" height="40" alt="itinerary logo"></a>

      
    <a class="btn btn-outline-primary" data-toggle="modal" data-target="#loginModal">Log In</a>
   

    </nav>
  </header>

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->