<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Itinerary | Home</title>

  <%- include('partials/style') %>

</head>
<body class="home">

  <%- include('partials/nav') %>

  <div class="position-relative overflow-hidden text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <img class="header-overlay" src="https://i.imgur.com/sbYU1c4.png?1">
      <p class="lead font-weight-normal">keep everything in one place</p>
      <p class="small">except yourself</p>
      <a class="btn btn-primary" href="#">Sign Up</a>
    </div>

    <!-- <div class="product-device shadow-sm d-none d-md-block"></div>

    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->


  </div>


</body>
</html>