<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Itinerary | Home</title>

  <%- include('partials/style') %>

</head>
<main role ="main">
  <body class="home">

    <%- include('partials/navbars/nav') %>

    <div class="position-relative overflow-hidden text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <img class="header-overlay" src="https://i.imgur.com/sbYU1c4.png?1">
        <p class="lead font-weight-normal">keep everything in one place</p>
        <p class="small">except you</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">Register</button>
        
          <%- include('partials/modals/registerModal') %>

      </div>
    </div>


    <!-- START THE FEATURETTES -->

    <div class="container marketing">
  
      <hr class="featurette-divider">
  
      <div class="row featurette ">
        <div class="col-md-7">
          <h2 class="featurette-heading">Finally. <span class="text-muted">All your adventures in one place.</span></h2>
          <p class="lead">Traveling can be complicated, but it doesn't have to be. With Itinerary, you'll have a place to organize everything you need before and during your next getaway.</p>
        </div>

        <div class="col-md">
          <img src="https://i.imgur.com/FwgqRuV.png" class="landing-page-featurette-img">
        </div>
        </div>
  

      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">It's all here. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Create your custom itinerary. View your group flight times. Save important details. Build your dream vacation down to the smallest details. </p>
        </div>

        <div class="col-md order-md-1">
          <img src="https://i.imgur.com/5YUUZMl.png" class="landing-page-featurette-img">
        </div>
      </div>
  
      <hr class="featurette-divider">
      
    </div>
    
    <!-- /END THE FEATURETTES -->
    
    <%- include('partials/footer') %>

  </body>
</main>
</html>