<!-- flight modal start -->

<div class="modal fade" id="createFlightModal" tabindex="-1" role="dialog" aria-labelledby="createFlightModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createFlightModalLabel">Save A Flight</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          <form method="POST" action="/tripdetail/<%= oneTrip._id %>?option=arrivals">
            
          <h7>
            <label for="guest">Guest Name:</label>
            <input type="text" name="guest">
          </h7>
          <h7>
            <label for="airline">Airline:</label>
            <input type="text" name="airline">
          </h7>
          <h7>
            <label for="departureCity">Departing From:</label>
            <input type="text" name="departureCity">
          </h7>
          <h7>
            <label for="departureDate">Departure Date:</label>
            <input type="text" name="departureDate">
          </h7>
          <label for="departureTime">Departure Time:</label>
            <input type="text" name="departureTime">
          </h7>
          <h7>
            <label for="arrivalCity">Arriving To:</label>
            <input type="text" name="arrivalCity">
          </h7>
          <h7>
            <label for="arrivalDate">Arrival Date:</label>
            <input type="text" name="arrivalDate">
          </h7>
          <label for="arrivalTime">Arrival Time:</label>
            <input type="text" name="arrivalTime">
          </h7>
          <h7> Category: <span class="input"><select name="category">
            <% flightCategory.forEach((category) => { %>
                    <option><%= category %></option>
            <%})%>
        </select></span>
        </h7>
        
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add">
        </div>
      </form>
    </div>
    
  </div>
</div>
</div>
<script>
$('#createFlightModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var modal = $(this)
  modal.find('.modal-title').text('Add New Note')
})
</script>




  <!-- flight modal end -->