<div class="modal fade" id="createNoteModal" tabindex="-1" role="dialog" aria-labelledby="createNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createNoteModalLabel">Create A New Note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          <form method="POST" action="/trips/<%= oneTrip._id %>?option=notes" validate>
            
          <h5>
            <label for="title">Note Title:</label>
            <input type="text" name="title">
          </h5>
          <p><small>Optional:</small></p>
          <h7>
            <label for="link">Link:</label>
            <input type="text" name="link">
          </h7><br>
          <h7>
            <label for="note">Notes:</label>
            <textarea class="form-control" name="note" rows="3"></textarea>
          </h7>
            
        
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add">
        </div>
      </form>
    </div>
    
  </div>
</div>
</div>
<script>
$('#createNoteModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var modal = $(this)
  modal.find('.modal-title').text('Add New Note')
})
</script>