
body {
    color: #171A27;
    font-family: 'Montserrat', sans-serif;
    background-color: #dfe1e1;
    font-family: 'Montserrat', sans-serif;
}

div.layout.layout-nav-side {
    display: flex;
}

/* Navigation Bar */

.navbar {
    background-color: #5c677d;
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    list-style: none
}

.btn-outline-primary {
    color: #c7cacf;
    border-color: #c7cacf;
}

.btn-outline-primary:hover {
    background-color: #171a27;
    border-color: #c7cacf;
    color: #c7cacf;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #5c677d;
    border-color: #dfe1e1;
    color: #dfe1e1;
}

/* Login Modal */

.modal-content {
    color: #5c677d;
    border: 1px solid #5c677d;
}

.modal-header {
    background-color: #dfe1e1;
}

.btn.btn-secondary {
    color: #5c677d;
    background-color: #c7cacf;
    border-color: #5c677d;
}

.btn.btn-secondary:hover {
    background-color: #171a27;
    border-color: #c7cacf;
    color: #c7cacf;
}

#modal-img {
    width: 150px;
    float: right;
    margin-top: -16px;
    margin-left: 38px;
}


/* Second Nav Bar */

#navbar-two{
    flex-direction: column;
    max-width: fit-content;
    min-height: 100vh;
}

img#nav-two-logo {
    margin-bottom: 3vh;
    width: 200px;
    height: 70px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #c7cacf,
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #dfe1e1,
}

#navbar2-brand {
    margin-right: 0;
}


/* Home Page:
 Header Image */


.position-relative {
    margin-top: 3.5rem;
    background-image: url('https://images.unsplash.com/photo-1496950866446-3253e1470e8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    height: 75vh;
    background-position: center;
}

img.header-overlay {
    height: 7rem;
    width: 30rem;
    margin-bottom: 2rem;
}

.btn-primary {
    color: #c7cacf;
    border-color: #c7cacf;
    background-color: #5c677D;
}

.btn-primary:hover {
    background-color: #171a27;
    border-color: #c7cacf;
    color: #dfe1e1;
}

.btn-primary:not(:disabled):not(.disabled):active{
    background-color: #171a27;
    border-color: #dfe1e1;
    color: #dfe1e1;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn-primary:focus {
    background-color: #5c677d;
    border-color: #dfe1e1;
    color: #dfe1e1;
    box-shadow: none;
}

.col-md-5 {
    background-color: rgba(223,225,225,.7);
    color: #33415c;
    min-width: 40rem;
    font-family: 'Montserrat', sans-serif;
}

.mt-5, .my-5 {
    margin-top: 20vh!important;
}

/* Featurettes */

div.container.marketing {
    margin-top: 2vh;
}

div.row.featurette {
    flex-wrap: nowrap;
    align-items: center;
}

.featurette-heading {
    color: #171A27;
}

.text-muted {
    color: #5C677D!important;
}

hr {
    border-top: 2px solid rgba(46,33,26,1);
}


/* Show Page */

div#show-page-header.container {
    width: 90vw;
    max-width: -webkit-fill-available;
}

.container {
    padding-right: 3rem;
    padding-bottom: 6rem;
    text-align: center;
}

.post-detail-image {
    background-position: center top;
    opacity: 0.5;
    background-size: cover;
    min-width: 100%;
    min-height: 300px;
    max-height: 300px;
    border-radius: 10px;
}

.show-overlay {
    padding-top: 7.5%;
}

/* Nav Tabs */

.nav-tabs {
    border-radius: 0.5rem;
    background: #c7cacf;
    justify-content: space-around;
}

.nav-item {
    border-radius: 0.5rem;
    flex: inherit!important;
}

a.nav-link.show {
    color: #33415C;
    text-decoration: none;
}

a.nav-link.show:hover {
    background-color: #dfe1e1;
}


/* Media Queries */

@media only screen and (max-width: 600px) {
    
    /* Home Page */
    div.row.featurette {
        flex-wrap: wrap;
    }
    
    .col-md-5 {
        min-width: auto;
    }
    
    img.header-overlay {
        margin-bottom: 0rem;
        width: 80vw;
        height: 8vh;
    }
    
    .position-relative {
        height: 60vh;
    }
    
    /* Nav Bar Two */
    
    #navbar-two {
        flex-direction: row;
        min-width: 100vw;
        min-height: min-content;
    }
    
    img#nav-two-logo {
        height: 40px;
        width: 120px;
        margin-bottom: 0;
    }

    /* Show Page */
    
    #show-page-header {
        padding: 15px;
    }
    
    div.layout.layout-nav-side {
        display: block;
    }
    
    div#show-page-header.container {
        width: 100%;
        margin: 1rem;
    }

}