<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Itinerary | Home</title>

  <%- include('partials/style') %>

</head>
<main role ="main">
  <body class="home">

    <%- include('partials/nav') %>

    <%- include('partials/trips') %>    

  </body>

</main>
